################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TojoAPI/bin/Debug/net5.0
/.vs/TojoAPI/config
/.vs/TojoAPI/DesignTimeBuild
/TojoAPI/obj/Debug/net5.0
/TojoAPI/obj
